* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
button,
h1,
h1 a,
h2,
h2 a,
h3,
h3 a,
h4,
h4 a,
h5,
h5 a,
h6,
h6 a,
input,
label,
legend,
option,
select,
textarea {
    font: 14px/18px Helvetica Neue, Helvetica, Arial, SF Pro Display, sans-serif
}

html {
    height: 100% !important;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

a {
    text-decoration: none !important;
    display: block;
}

header {
    background-color: black;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.logo-img {
    background-image: url('../img/icon-topzone.webp');
    background-repeat: no-repeat;
    display: inline-block;
    height: 35px;
    width: 128px;
    line-height: 30px;
    vertical-align: middle;
    background-size: 514px 226px;
}

.row {
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.category {
    color: white;
}

.category-list {
    display: flex;
    list-style: none;
    justify-content: center;
    line-height: 44px;
    margin: 0;
}

.category-item {
    padding: 10px 0;
}

.category-item a {
    text-decoration: none;
    color: white;
    padding: 0 24px;
    display: block;
}

.category-item:hover {
    background-color: #3e3e3f;
}

.category-item a:hover {
    color: white;
}

.search-cart {
    color: white;
    display: flex;
    font-size: 20px;
    align-items: center;
    margin-left: 100px;
}

.search,
.cart {
    margin-left: 20px;
}

#app {
    height: 100%;
    background-color: #f0f0f0;
}

section {
    background-color: #3e3e3f;
    margin: 0;
    padding: 0;
}

.banner {
    width: 100%;
    height: 100%;

}

.owl-nav {
    color: #f0f0f0;
    position: absolute;
    top: 35%;
    width: 100%;
}

.owl-prev {
    position: absolute;
    left: 2%;
}

.owl-next {
    position: absolute;
    right: 2%;
}

.owl-prev span,
.owl-next span {
    font-size: 70px;
}

.owl-prev,
.owl-next {
    color: #000;
    transition: all 0.3s ease-in-out;
    width: 50px;
    height: 50px;
    background: #29292a !important;
    border-radius: 100% !important;
}

.owl-prev:hover,
.owl-next:hover {
    background-color: gray !important;
}

.owl-dots {
    position: absolute;
    bottom: 2%;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}

.flash-sale {
    background: #161616;
    position: relative;
    max-width: 1200px;
    border-radius: 12px;
    margin: 20px auto 0 auto;
    padding: 0 10px 10px;
}

.flash-sale_title {
    display: flex;
}

.flash-sale_icon {
    flex: 1.5;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
}

.flash-sale_icon div {
    width: 65%;
}

.flash-sale_icon img {
    width: 100%;
    height: auto;
}

.end-time {
    color: #fff;
    margin-left: 2px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.end-time span {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}

.list-time {
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.list-time a {
    text-decoration: none;
    flex: 1;
    color: #fff;
    line-height: 1.5;
    position: relative;
    margin-bottom: 10px;
}

.list-time a * {
    display: block;
}

.list-time_title {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.list-time a:hover {
    color: #fff;
}

.time {
    font-weight: bold;
}

.list-time a.active::after {
    content: "";
    position: absolute;
    bottom: -6px;
    height: 4px;
    border-radius: 100px;
    width: 40px;
    background: #fff;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.product {
    margin: 0 5px 10px;
    border: none;
    max-width: calc(100% - 10px);
    padding: 0 5px 10px;
    background: #323232;
    border-radius: 15px;
    position: relative;
}

.product:hover {
    box-shadow: 9px 9px 16px rgba(0, 0, 0, .44), -9px -9px 16px rgba(83, 83, 86, .8);
}

.product-img {
    width: 100%;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
    position: relative;
}

.product-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-name {
    height: 40px;
    line-height: 20px;
    font-size: 14px;
    text-align: center;
    color: #fff;
    margin: 10px auto 5px;
    overflow: hidden;
}

.price {
    font-size: 18px;
    display: block;
    text-align: center;
    color: orange;
}

.price-old {
    font-size: 14px;
    display: block;
    text-align: center;
    color: gray;
    text-decoration: line-through;
}

.sale {
    position: absolute;
    top: 0;
    left: 0;
    background: #ff0000;
    color: #fff;
    padding: 5px 10px;
    border-radius: 0 15px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.product-buy {
    padding: 5px 10px;
    border-radius: 0 0 15px 15px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.btn-buy {
    background: #ff0000;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    display: block;
    width: 100%;
    margin: 10px auto 0;
}

.category-box {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 10px 10px;
}

.brand {
    display: flex;
    cursor: pointer;
    text-decoration: none;
    margin: 50px auto;
    width: max-content;
}

.brand-icon {
    width: 60px;
    height: 60px;
    display: inline-block;
    margin: 0 5px;
}

.brand-text {
    color: #fff;
    display: flex;
    align-items: center;
}

.flash-sale_product .owl-prev,
.product-slide .owl-prev {
    left: -10%;
}

.flash-sale_product .owl-next,
.product-slide .owl-next {
    right: -10%;
}

.product-slide .price {
    color: white;
}

.product-slide .sale {
    background: black;
    color: white;
}

.product-slide .btn-buy {
    background: black;
    color: white;
}

.policy {
    background-color: gray;

}

.policy .row {
    padding: 30px 0;

}

.policy .col-3 {
    flex: 1;
    text-align: center;
    padding: 0 10px;
}

.policy-icon {
    color: white;
}

.policy-icon i {
    font-size: 35px;
    display: block;
    margin: 0 auto 15px;
}

.policy-title {
    display: block;
    overflow: hidden;
    color: #fff;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
}

footer {
    background-color: #101010;
}

.foot {
    width: 100%;
    max-width: 1200px;
    min-width: 1024px;
    margin: auto;
    display: block;
    padding-bottom: 10px;
}

.foot-logo {
    display: block;
    overflow: hidden;
    padding: 30px 0;
}

.foot span {
    display: block;
    overflow: hidden;
    color: #fff;
    font-size: 15px;
    line-height: 20px;
    padding: 0 0 8px;
    font-weight: 500;
}

.foot a {
    display: block;
    overflow: hidden;
    font-size: 13px;
    line-height: 18px;
    padding: 0 0 10px;
    color: #e5e5e5;
    text-decoration: none;
}

.foot a span {
    display: inline-block;
    width: 68px;
    padding: 0;
    font-size: 13px;
    line-height: 18px;
    overflow: unset;
}

.foot b {
    font-weight: 400;
    color: #2997ff;
}

.content {
    width: 100%;
    max-width: 1200px;
    min-width: 1024px;
    margin: auto;
    display: block;
    padding-bottom: 10px;
}

.product-banner {
    width: 100%;
    height: 300px;
    border: #000 1px solid;
    border-radius: 15px;
}

.filter {
    display: flex;
    justify-content: space-between;
    margin: 30px 0 40px;
    flex-wrap: wrap;
    position: relative
}

.filter-cate a {
    text-decoration: none;
    float: left;
    color: #afb7bd;
    border-bottom: 1px solid transparent;
    font-size: 15px;
    line-height: 22px;
    padding: 10px 0 10px;
    margin: 0 32px 4px 0;
}

.filter-cate a:hover {
    color: #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
}

.filter-cate a.active {
    color: #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
}

.filter-sort {
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter-sort span {
    color: #f0f0f0;
}

.filter-sort select {
    background-color: #323232;
    color: #f0f0f0;
    border: none;
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.filter-sort select:hover,
.filter-sort select:active,
.filter-sort select:focus {
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    cursor: pointer;
}

.product-detail--img {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 600px;
}

.product-detail--name {
    display: block;
    padding: 0 0 20px;
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    padding-top: 5px;
    line-height: 1.2;
    position: relative;
}

.product-size {
    display: block;
    overflow: hidden;
    margin-bottom: 20px;
}

.product-size ul {
    padding: 0;
    margin: 0;
    display: block;
    overflow: hidden;
    list-style: none;
}

.product-size ul li {
    float: left;
    margin-right: 15px;
}

.product-size ul li a {
    display: block;
    overflow: hidden;
    color: #dbdbdb;
    background: #2f3033;
    border-radius: 8px;
    padding: 10px 12px;
    text-align: center;
    font-size: 14px;
    line-height: 21px;
    border: 1px solid transparent;
    text-decoration: none;
}

.product-size ul li.active a {
    background: #1c1c1d;
    border: 1px solid #535353;
}

.product-color {
    display: block;
    overflow: hidden;
    margin-bottom: 20px;
}

.product-color span {
    display: block;
    overflow: hidden;
    color: #fff;
    font-size: 15px;
    line-height: 20px;
    margin: 0 0 10px;
}

.product-color ul {
    padding: 0;
    margin: 0;
    display: block;
    overflow: hidden;
    list-style: none;
}

.product-color ul li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 18px 0 0;
    border-radius: 100%;
    border: 2px solid transparent;
}

.product-color--option {
    width: 40px;
    height: 40px;
    display: block;
    overflow: hidden;
    border-radius: 100%;
    box-shadow: inset 0 3px 4px rgba(0, 0, 0, .25);
    background: #123e61;
    position: relative
}

li.active .product-color--option {
    border: 2px solid #0071e3
}

.product-detail--price {
    display: flex;
    font-size: 26px;
    color: #fff;
    padding: 0 0 20px;
    align-items: center;
}

.btn-group {
    width: 80%;
}

.btn-detail {
    color: #101010;
    background: #fff;
    font-size: 20px;
    padding: 10px 0;
    width: 49%;
    float: left;
    line-height: 36px;
    border: none;
    border-radius: 12px;
    text-align: center;
    font-weight: 700;
}

.btn-detail--buy {
    margin-right: 15px;
    background: #0071e3;
    color: #fff;
}

.product_detail--info {
    background: #ffff;
}

.info_tab {
    display: block;
    overflow: hidden;
    margin: 0 0 40px 0;
    text-align: center;
    padding-top: 40px;
}

.info_tab--item {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #e5e5e5;
    color: #3a3a3a;
    padding: 10px 18px;
    font-size: 15px;
    line-height: 20px;
    margin: 0 15px 0 0;
    border-radius: 8px;
    font-weight: 700;
    cursor: pointer;
}

.info_tab--item.active {
    border: 1px solid #0055d4;
}

.info_tab--contentbox {
    max-width: 590px;
    margin: auto
}

.info_tab--content button {
    display: block;
    overflow: hidden;
    background: #f5f5f7;
    padding: 15px 10px;
    color: #000;
    font-size: 15px;
    line-height: 20px;
    font-weight: 600;
    position: relative;
    border: none;
    width: 100%;
    text-align: left;
}

.card-body ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.card-body ul li {
    display: block;
    overflow: hidden;
    padding: 20px 10px;
    border-bottom: 1px solid #e5e5e5;
}

.card-body ul li:last-child {
    border-bottom: none;
}

.card-body ul li aside:first-child {
    float: left;
    width: 150px;
    margin-right: 30px;
}

.card-body ul li aside:last-child {
    display: block;
    overflow: hidden;
}

.card-body ul li aside strong {
    display: block;
    overflow: hidden;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    color: #101010;
}
.user-background,
.order-background {
    background-color: #f0f0f0;
    height: 100%;
}

.order {
    display: block;
    width: 100%;
    max-width: 600px;
    margin: auto;
    min-width: 0;
}

.buymore {
    float: left;
    overflow: hidden;
    font-size: 14px;
    color: black;
    padding: 15px 15px 13px;
    position: relative;
    line-height: 21px;
    text-decoration: none;
}

.order .top-content span {
    padding: 15px 7px 13px;
    color: black;
    line-height: 21px;
    overflow: hidden;
    width: 300px;
    text-overflow: ellipsis;
    text-align: right;
    white-space: nowrap;
}

.middleCart {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 24px 80px rgba(0, 0, 0, .07),
        0 10.0266px 33.4221px rgba(0, 0, 0, .0503198),
        0 5.36071px 17.869px rgba(0, 0, 0, .0417275),
        0 3.00517px 10.0172px rgba(0, 0, 0, .035),
        0 1.59602px 5.32008px rgba(0, 0, 0, .0282725),
        0 0.664142px 2.21381px rgba(0, 0, 0, .0196802);
}

.listing-cart {
    display: flex;
    flex-flow: column wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.product-item:first-child {
    padding-top: 30px;
}

.product-item {
    display: block;
    padding: 10px 30px;
    width: 100%;
    box-sizing: border-box;
}

.product-item_img {
    float: left;
    width: 16%;
}

.product-delete {
    display: block;
    overflow: hidden;
    border: 0;
    cursor: pointer;
    margin: 4px auto;
    padding: 0 8px 0 2px;
    background: #fafafb;
    border-radius: 4px;
    font-size: 11px;
    color: #9e9e9f;
}

.product-item_info {
    display: block;
    margin-left: 95px;
}

.product-item_name {
    font-weight: 400;
    font-size: 15px;
    color: black;
    line-height: 20px;
    float: left;
    width: 70%;
}

.name-price span {
    color: black;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    float: right;
    text-align: right;
    margin-bottom: 2px;
}

.name-price span strike {
    font-weight: 400;
    color: darkgray;
    font-size: 14px;
    line-height: 21px;
    display: block;
    overflow: hidden;
}

.quantity-color {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
}

.choose-color {
    display: flex;
    flex-direction: row;
    width: 75%;
}

.choose-color select {
    padding: 6px 28px 6px 10px;
    border-radius: 8px;
    font-size: 15px;
    border: 1px solid #e5e5e5;
    cursor: pointer;
}

.choose-color select:focus {
    outline: none;
}

.choose-quantity {
    border-radius: 0;
    border: 0;
    height: 24px;
    width: 76px;
    float: right;
    overflow: hidden;
    position: relative;
    background: #fff;
    line-height: 30px;
    font-size: 14px;
    color: #333;
}

.minus {
    margin-right: 2px;
    float: left;
    border: 1px solid #e5e5e5;
    background: #fff;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
}

.btn-minus.disabled {
    background: #f5f5f7;
    border: 1px solid #f5f5f7;
    cursor: not-allowed;
}

.minus i {
    display: block;
    margin: 5px;
}

.number {
    width: 24px;
    border-radius: 4px;
    height: 24px;
    background-color: lightgray;
    color: #000;
    margin: 0 0;
    float: left;
    text-align: center;
    border: none;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    outline: none;
}

.plus {
    border-radius: 4px;
    border: 1px solid #f5f5f7;
    width: 24px;
    height: 24px;
    float: right;
    background-color: #fff;
    position: relative;
    cursor: pointer;
}

.plus i {
    display: block;
    margin: 5px;
}

.total-provisional {
    line-height: 21px;
    padding: 0 30px 17px;
    display: block;
    overflow: hidden;
    font-size: 14px;
}

.total-product-quantity {
    float: left;
}

.total-label {
    font-weight: 700;
}

.total-money {
    float: right;
    font-weight: 700;
}

.customer-info {
    border-top: 4px solid #e5e5e5;
    border-bottom: 4px solid #e5e5e5;
    padding: 15px 30px 10px;
    display: block;
    overflow: hidden;
}

.customer-info h4 {
    line-height: 20px;
    font-weight: 600;
    text-transform: none;
    font-size: 15px;
}

.customer-info-form {
    padding: 15px 0 5px 0;
}

.field-name {
    padding: 0 2px;
    float: left;
    width: 49%;
    margin: 0 1% 0 0;
}

.field-name input {
    border: 1px solid #e5e5e5;
    border-radius: 12px;
    padding: 15px;
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
}

.field-name input:focus {
    outline: none;
}

.field-phone {
    float: right;
}

.address-info {
    padding: 15px 30px 0;
    display: block;
}

.address-info h4 {
    line-height: 20px;
    font-weight: 600;
    text-transform: none;
    font-size: 15px;
}

.deli-address {
    background: #f5f5f7;
    border: 0;
    border-radius: 12px;
    padding: 10px 12px 5px;
}

.text-address {
    display: block;
    overflow: hidden;
}

.text-address__selection.visible {
    display: block;
}

.text-address span {
    font-size: 13px;
    display: -webkit-box;
    color: #333;
    margin-bottom: 5px;
    line-height: 20px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.text-address__other-addresses {
    display: inline-block;
}

.text-address small {
    color: #0071e3;
    font-size: 13px;
    padding: 0 0 0 20px !important;
    overflow: hidden;
    cursor: pointer;
}

.cartempty {
    font-size: 15px;
    display: block;
    overflow: hidden;
    height: 100%;
}

.cartnew-empty {
    background-image: url('../img/TZ_Sprite_2x.png');
    background-repeat: no-repeat;
    background-size: 624px 758px;
    width: 108px;
    height: 140px;
    display: block;
    background-position: -51px -2px;
    margin: 10px auto;
}

.cartempty span {
    margin: 0 auto;
    width: 200px;
    padding: 0 10px;
    line-height: 21px;
    display: block;
    overflow: hidden;
    text-align: center;
}

.backhome {
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 4px;
    border: 1px solid #288ad6;
    color: #288ad6;
    overflow: hidden;
    text-align: center;
    padding: 10px;
    width: 50%;
    display: block;
    margin: 10px 25%;
}

.cartempty p {
    display: block;
    overflow: hidden;
    padding: 19px;
    text-align: center;
}

.cntry-district {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 10px;
    margin-top: 10px;
    position: relative;
}

.select-address {
    display: block;
    padding-left: 8px;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
    color: #444;
}

.select-address:nth-child(2) {
    float: right;
}

.anotheroption {
    border-bottom: 4px solid #e5e5e5;
    display: block;
    padding: 20px 30px;
}

.customer-note {
    position: relative;
}

.customer-note input {
    padding: 15px;
    border: 1px solid #e5e5e5;
    border-radius: 12px;
    display: block;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 7px;
    line-height: 18px;
    font-size: 13px;
    color: black;
}

.finaltotal {
    padding: 10px 30px;
    display: block;
    overflow: visible;
    position: relative;
}

.total-price {
    line-height: 21px;
    display: block;
    overflow: hidden;
    padding: 10px 0 10px;
    width: 100%;
}

.total-price strong {
    float: left;
    color: black;
}

.total-price strong:nth-child(2) {
    float: right;
    color: red;
}

.submitorder {
    background: #0071e3;
    border-radius: 12px;
    font-size: 15px;
    display: block;
    overflow: hidden;
    color: #fff;
    text-align: center;
    height: 50px;
    margin: 10px auto;
    width: 100%;
    border: 0;
    cursor: pointer;
}
.userheader,
.alertsuccess {
    background-color: #f5f5f7;
    border-radius: 12px 12px 0 0;
    padding: 10px 0;
    display: block;
    overflow: hidden;
    text-align: center;
}

.alertsuccess strong {
    color: #00a651;
    font-size: 15px;
    font-weight: 700;
    text-transform: none;
    line-height: 20px;
    display: inline-block;
    vertical-align: middle;
}
.usercontent,
.ordercontent {
    display: block;
    overflow: hidden;
    padding: 0 20px;
}

.ordercontent p {
    line-height: 21px;
    color: #323232;
    padding: 15px 8px 15px 12px;
    display: block;
    overflow: hidden;
}
.info-user,
.info-order {
    background-color: #f5f5f7;
    border-radius: 12px;
    margin-left: 12px;
    margin-right: 8px;
    display: block;
    padding: 10px 0;
    margin: 0 10px 10px;
}
.info-user-header,
.info-order-header {
    display: flex;
    justify-content: space-between;
    padding: 2px 14px 5px 11px;
    align-items: center;
}

.info-order-header h4 {
    font-weight: 700;
    text-transform: inherit;
    font-size: 14px;
    color: #000;
    line-height: 21px;
    display: block;
    overflow: hidden;
}

.info-order-header span {
    font-weight: 400;
    color: #0071e3;
}

.header-right {
    display: flex;
}

.header-right>a {
    color: #2f80ed;
}

.cancel-order-new {
    display: flex;
}

.cancel-order-new>span {
    color: #333;
}

.cancel-order-new>a {
    color: #dd1c1a;
}

.info-order label {
    line-height: 21px;
    padding: 5px 20px;
    display: block;
    color: #333;
}

.info-order label span {
    display: block;
    overflow: hidden;
}

.ordercontent .info-order .info-order__dot-icon::before {
    color: #000;
    font-size: 14px;
    content: "\2022";
    float: left;
    margin: 0 5px 0 0;
}

.ordercontent .info-order label span strong {
    font-weight: 700;
    color: #000;
}

.ordercontent .info-order label span>strong {
    display: contents;
}

.timetakegoods {
    display: block;
    overflow: hidden;
    padding: 10px;
}

.timetakegoods h4 {
    font-size: 15px;
    font-weight: 600;
    color: #323232;
    padding: 10px 0 11px 2px;
    text-transform: inherit;
    line-height: 20px;
    display: block;
    overflow: hidden;
}

.box-order {
    border-radius: 12px;
    border: 1px solid #e5e5e5;
    margin-left: 1px;
    margin-right: -1px;
    display: block;
    background: #fff;
    margin-bottom: 10px;
}

.box-order ul {
    display: block;
    overflow: hidden;
    padding: 0 10px;
    list-style: none;
}

.box-order ul li {
    border-bottom: 0;
    border-top: 1px solid #e5e5e5;
    display: block;
    overflow: hidden;
    padding: 10px 0;
}

.box-order ul li:last-child {
    border: 0;
}

.box-order li .img-order {
    float: left;
    width: 11%;
}
.img-manager{
    float: left;
}
.img-manager img {
    display: block;
    overflow: hidden;
    width: 40px;
}
.box-order li .img-order img {
    display: block;
    overflow: hidden;
    width: 40px;
}

.box-order li .text-order {
    line-height: 24px;
    display: block;
    overflow: hidden;
    margin-left: 10px;
}

.text-order__product-name {
    color: #323232;
    font-size: 12px;
    display: block;
    line-height: 16px;
    padding-bottom: 2px;
}

.box-order li .text-order .amount-color {
    display: block;
    overflow: hidden;
}

.box-order li .amount-color>small {
    color: #757575;
    width: 50%;
    font-size: 12px;
}

.box-order li .amount-color small {
    display: inline-block;
    margin-right: 15px;
    color: #666;
    font-size: 11px;
}

.box-order li .amount-color small small {
    color: #323232;
    font-size: 12px;
    vertical-align: unset;
}

.box-order .lastrow {
    display: block;
    overflow: hidden;
    margin: 0 10px;
    padding-bottom: 10px;
}

.timetakegoods .buyanotherNew {
    display: block;
    overflow: hidden;
    border: 1px solid #288ad6;
    background-color: #fff;
    text-align: center;
    color: #288ad6;
    border-radius: 4px;
    padding: 10px;
    margin: 10px auto;
    margin-top: 20px;
}

button.user-save {
    display: block;
    overflow: hidden;
    border: 1px solid #288ad6;
    background-color: #fff;
    text-align: center;
    color: #288ad6;
    border-radius: 4px;
    padding: 10px;
    margin: 10px auto;
    margin-top: 20px;
    width: 100%;
}

.user-save:hover {
    background-color: #288ad6;
    color: #fff;

}

.user {
    margin-left: 20px;
}

.user__avatar {
    width: 100%;
    height: 40px;
    border-radius: 50%;
    color: white;
    display: flex;
    position: relative;
}

.user__avatar span {
    font-size: 14px;
    font-weight: 700;
    text-transform: none;
    line-height: 40px;
    display: block;
    overflow: hidden;
}

.user__avatar:hover .user-block {
    display: block;
}

.user-block {
    display: block;
    display: none;
    position: absolute;
    left: -20px;
    top: 35px;
    width: 85px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 24px 80px rgba(0, 0, 0, .07), 0 10.0266px 33.4221px rgba(0, 0, 0, .0503198), 0 5.36071px 17.869px rgba(0, 0, 0, .0417275), 0 3.00517px 10.0172px rgba(0, 0, 0, .035), 0 1.59602px 5.32008px rgba(0, 0, 0, .0282725), 0 .664142px 2.21381px rgba(0, 0, 0, .0196802);
    z-index: 999;
}

.user-block ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.user-block ul li {
    overflow: hidden;
    text-align: center;
    font-size: 14px;
    padding: 10px 5px;
    border-bottom: 1px solid #e5e5e5;
}

.user-block ul li:last-child {
    border: 0;
}

.user-block ul li a {
    color: #333;
    text-decoration: none;
}

.info-user-input {
    margin: 0 1% 1% 0;
    padding: 2px;
    color: black;
    border-radius: 12px;
    border: 1px solid #e5e5e5;
    padding: 15px;
    font-size: 13px;
    line-height: 18px;
    width: 80%;
}

.reserpass {
    margin-right: 51%;
    border-radius: 12px;
    padding: 10px;
    border: 1px solid #e5e5e5;
}

.order__manager {
    display: block;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    min-width: 0;
}